{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="es">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Hablemos</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- script
    ================================================== -->
    <script src="{% static 'js/modernizr.js' %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    
    
</head>

<body>

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="top" class="s-wrap site-wrapper">

{% block contenido %}  
       
        <!-- site header
        ================================================== -->
        <header class="s-header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo" href="{% url 'debate_list' %}">
                        <img src="{% static 'images/logo.svg' %}" alt="Homepage">
                    </a>
                </div>

                <div class="header__search">
    
                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="header__search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="header__search-submit" value="Search">
                    </form>
        
                    <a href="#0" title="Close Search" class="header__search-close">Close</a>
        
                </div>  <!-- end header__search -->

                <!-- toggles -->
                <a href="#0" class="header__search-trigger"></a>
                <a href="#0" class="header__menu-toggle"><span>Menu</span></a>

            </div> <!-- end header__top -->

            <nav class="header__nav-wrap">

                <ul class="header__nav">
                    <li class="current"><a href="{% url 'debate_list' %}" title="">Inicio</a></li>
                    <li class="has-children">
                        <a href="#0" title="">Categorias:</a>
                        <ul class="sub-menu">
                        <li><a href="category.html">Politica</a></li>
                        <li><a href="category.html">Salud</a></li>
                        <li><a href="category.html">Sociedad</a></li>
                        <li><a href="category.html">Creepy</a></li>
                        <li><a href="category.html">Deporte</a></li>
                        <li><a href="category.html">Varios</a></li>
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'debate_create' %}">Crear Debate</a></li>
                    <li><a href="{% url 'logout' %}" title="">Cerrar Sesion</a></li>
                    <li><a href="page-contact.html" title="">About us</a></li>
                    <br>
                    <br>
                    <br>
                    <li><a href="page-contact.html" style="color: white;">Hola <strong style="text-decoration: none;">'{{user.username}}'<strong></a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}" title="">Iniciar Sesion</a></li>
                    <li><a href="page-contact.html" title="">About us</a></li>
                    {% endif %}
                </ul> <!-- end header__nav -->

                <ul class="header__social">
                    <li class="ss-facebook">
                        <a href="https://facebook.com/">
                            <span class="screen-reader-text">Facebook</span>
                        </a>
                    </li>
                    <li class="ss-twitter">
                        <a href="#0">
                            <span class="screen-reader-text">Twitter</span>
                        </a>
                    </li>
                    <li class="ss-dribbble">
                        <a href="#0">
                            <span class="screen-reader-text">Dribbble</span>
                        </a>
                    </li>
                    <li class="ss-pinterest">
                        <a href="#0">
                            <span class="screen-reader-text">Behance</span>
                        </a>
                    </li>
                </ul>

            </nav> <!-- end header__nav-wrap -->

          

        </header> <!-- end s-header -->

        <div class="s-content">
            
            <div class="masonry-wrap">

                <div class="masonry">
    
                    <div class="grid-sizer"></div>
                

                    {% for debate in object_list %}
                    
                    <article class="masonry__brick entry format-standard animate-this">
    
                        <div class="entry__thumb">
                                {{debate.imagen}}
                        </div>
                        
                        <div class="entry__text">
                            <div class="entry__header">
                                <h2 class="entry__title"><a href="{% url 'leer_debate' debate.id %}">{{debate.titulo}}</a></h2>
                                <div class="entry__excerpt">
                                <p>{{debate.subtitulo}}</p>
                                </div>
                                <br>
                                <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="{% url 'debate_update' debate.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                                          </svg> Editar</a>
                                          <br>
                                          <br>
                                        <a href="{% url 'debate_delete' debate.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                          </svg> Eliminar</a>
                                    </span>
                                        <br>
                                        <br>
                                    <span class="entry__meta-date">
                                        <a>Publicado: {{debate.creado}}</a>
                                    </span>
                                    <span class="entry__meta-date">
                                        <a>Creado por: {{debate.autor}}</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                    </article> <!-- end article -->
                    {% endfor %}
                </div> <!-- end masonry -->

            </div> <!-- end masonry-wrap -->

           


{% endblock %}
        <!-- footer
        ================================================== -->
        <footer class="s-footer">
            <div class="row">
                <div class="column large-full footer__content">
                    <div class="footer__copyright">
                        <span>© Copyright Hablemos 2022</span> 
                        <span>Design by <a href="https://www.styleshout.com/">Nicolas Bernard</a></span>
                    </div>
                </div>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </footer>

    </div> <!-- end s-wrap -->

    


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>