{% extends 'hablemosapp/debates.html' %}
{% load static %}

{% block contenido %}


        <!-- site header
        ================================================== -->
        <header class="s-header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo" href="{% url 'debates' %}">
                        <img src="{% static 'images/logo.svg' %}" alt="Homepage">
                    </a>
                </div>

                <!-- toggles -->
                <a href="#0" class="header__menu-toggle"><span>Menu</span></a>

            </div> <!-- end header__top -->

            <nav class="header__nav-wrap">

                <ul class="header__nav">
                    <li><a href="{% url 'debates' %}" title="">Inicio</a></li>
                    <li><a href="{% url 'crear_debate' %}">Crear Debate</a></li>
                    <li><a href="page-contact.html" title="">About us</a></li>
                </ul> <!-- end header__nav -->

                <ul class="header__social">
                    <li class="ss-facebook">
                        <a href="https://facebook.com/">
                            <span class="screen-reader-text">Facebook</span>
                        </a>
                    </li>
                    <li class="ss-twitter">
                        <a href="#0">
                            <span class="screen-reader-text">Twitter</span>
                        </a>
                    </li>
                    <li class="ss-dribbble">
                        <a href="#0">
                            <span class="screen-reader-text">Dribbble</span>
                        </a>
                    </li>
                    <li class="ss-pinterest">
                        <a href="#0">
                            <span class="screen-reader-text">Behance</span>
                        </a>
                    </li>
                </ul>

            </nav> <!-- end header__nav-wrap -->

          

        </header> <!-- end s-header -->

<body>
    <br>
    <br>
    <br>
    <br>
    <h1 style="padding-left: 345px; font-size: 35px;" >Mensajes directos</h1>
    <br>
    <br>
    {% if mensajes|length is 0 %}
    <i><h3 style="padding-left: 349px; font-size: 15px;" >iUsted no posee mensajes</h3>
    {% endif %}
    {% for mensaje in mensajes %}  
              <div class="discussion message-active" style="padding-left: 345px">
                <div class="desc-contact">
                  <p class="name" style="font-size: 20px;"><b>Mensaje de:</b><i> "{{mensaje.emisor}}"</i> </p>
                  <p class="message" style="font-size: 17px;"><i>{{mensaje.mensaje}}</i></p>
                </div>
                <div class="timer" style="font-size: 10px;" >{{mensaje.creado}}</div>
                <br>
                <br>
                <a href="{% url 'enviar_mensaje' %}" style="text-decoration: none; font-size: 15px " ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                </svg> Responder </a>
                <hr width="30%" color="black"/>
              </div>
              
              <br>        
    {% endfor %}  
</body>
{% endblock %}