{% extends 'hablemosapp/debates.html' %}
{% load static %}

{% block contenido %}
{% load crispy_forms_tags %}

        <!-- site header
        ================================================== -->
        <header class="s-header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo" href="{% url 'debates' %}">
                        <img style="width:80%; height: 94px; text-align:left" src="{% static 'images/hablemos.svg' %}" alt="Homepage">
                    </a>
                </div>

                               
            </div> <!-- end header__top -->

            <nav class="header__nav-wrap">

                <ul class="header__nav">
                    <li class="current"><a href="{% url 'login' %}" title="">Iniciar Sesion</a></li>
                    <li><a href="{% url 'register' %}" title="">Registrarme</a></li>
                    <li><a href="{% url 'debates' %}" title="">Solo Leer</a></li>
                    <li><a href="{% url 'about_us' %}" title="">About us</a></li>
                </ul> <!-- end header__nav -->

               
            </nav> <!-- end header__nav-wrap -->

          

        </header> <!-- end s-header -->

<body>


    <br>
    <br>
    <br>
    <br>
    <h1 style="padding-left: 345px; font-size: 35px;">Iniciar Sesion</h1>
    <br>
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="col- row-5 alert alert-danger d-flex align-items-left" style="padding-left: 325px; font-size: 15px;" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"  ><use xlink:href="#info-fill"/></svg>
            <div>
            {{message}}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <br>
        <form  style="padding-left: 350px; font-size:10px;" action="" method="post"> 

            {% csrf_token %} 

            {{ form | crispy}} 
            <br>
            <br>

        <button type="submit" style="font-size: 13px;" ><strong>Iniciar Sesion</strong></button>

        </form> 

</body>
{% endblock %}