{% extends 'hablemosapp/debates.html' %}
{% load static %}

{% block contenido %}
{% load crispy_forms_tags %}

        <!-- site header
        ================================================== -->
        <header class="s-header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo" href="{% url 'debates' %}">
                        <img style="width:80%; height: 94px; text-align:left" src="{% static 'images/hablemos.svg' %}" alt="Homepage">
                    </a>
                </div>

                <div class="header__search">
    
                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="header__search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="header__search-submit" value="Search">
                    </form>
        
                    <a href="#0" title="Close Search" class="header__search-close">Close</a>
        
                </div>  <!-- end header__search -->

            </div> <!-- end header__top -->

            <nav class="header__nav-wrap">

                <ul class="header__nav">
                    <li><a href="{% url 'debates' %}" title="">Debates</a></li>
                    <li><a href="{% url 'crear_debate' %}">Crear Debate</a></li>
                    <li><a href="{% url 'about_us' %}" title="">About us</a></li>
                </ul> <!-- end header__nav -->

                

            </nav> <!-- end header__nav-wrap -->

          

        </header> <!-- end s-header -->

<body>
    <br>
    <br>
    <br>
    <br>
    <h1 style="padding-left: 345px; font-size: 35px;" >Elije tu avatar</h1>
    <br>
        <form style="padding-left: 350px; font-size:10px;" action="" method="post" enctype="multipart/form-data"> 

            {% csrf_token %} 

            {{ form | crispy}} 
            <br>
            <br>

        <button  type="file;" style="font-size: 13px;" ><strong>Guardar</strong></button>

    </form>


</body>
{% endblock %}